<div class="container">
  <%= render "member/shared/error_messages", resource: resource %>
  <div class="row justify-content-center">
    <div class="sign_up col">
      <h2>ユーザー新規登録</h2>

      <%= form_with model: @user, url:user_registration_path, method: :post, local: true do |f| %>

        <div class="field">
          <%= f.label :name,"名前" %><br />
          <%= f.text_field :name, autofocus: true, placeholder:"Yamdda Taro", autocomplete: "name" %>
        </div>
        <div class="field">
          <%= f.label :email, "メールアドレス" %><br />
          <%= f.email_field :email,size:"40*20", autofocus: true, placeholder:"sample@example.com", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, size:"40*20",autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, "パスワード確認" %><br />
          <%= f.password_field :password_confirmation,size:"40*20", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録",class:"btn btn-primary mt-3" %>
        </div>
      <% end %>

      <%= render "member/shared/links" %>
    </div>
  </div>
</div>
