<div class="container-fluid">

  <div class="d-inline-block">
      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

  <div class="row justify-content-center">

    <div class="col-12 tags text-center">

      <!--タグリスト-->
      <p class="d-inline-block">タグリスト:</p>

      <% @tag_list.each do |list|%>

        <%=link_to list.name,post_search_tag_path(list) %>

        <%= "(#{list.posts.where(is_published: true).count})" %>

      <% end %>

    </div>

    <div class="col-12-fluid text-center">

      <% @posts.each do |post| %>

        <div class="post-card">

          <div class="user-icon pl-2 pt-2 d-flex justify-content-start align-items-center">
            <%= image_tag post.user.get_profile_image, class:"rounded-circle", size:"60x60" %>

            <%=link_to user_path(post.user),class:"ml-2" do  %>
              <%= post.user.name %>
            <% end %>
          </div>

          <h5><%= post.store_name.truncate(15) %></h5>

          <%=link_to post_path(post.id) do %>
            <%= image_tag post.image, size:"300x300" %><br>
          <% end %>
          <p class="post-solid mt-2" ></p>

          <!--ブックマークボタン-->
          <div class="d-inline-block" id="bookmark_button_<%= post.id %>">
            <%= render "member/bookmarks/bookmark_btn", post: post %>
          </div>

          &emsp;<i class="fa-regular fa-comment"></i>コメント数：<%= post.post_comments.count %><br>

            <!--配列に入っているタグを１つずつnameの型にして表示させる-->
            <i class="fas fa-tag"><%= post.tags.map(&:name).join(', ') %></i><br>

            <%= post.address.truncate(15) %><br>

            <%= post.description.truncate(20) %><br>

        </div>

      <% end %>

    </div>

  </div>

</div>
<span id="top-scroll">
  <a href="">
　  <%= image_tag asset_path("top-scroll.png"), turbolinks: false, class: "arrow" %>
　</a>
</span>