<div class="container-fluid text-center">

  <p class="d-inline-block">タグリスト:</p>
  <!--タグリスト-->
  <% @tag_list.each do |tag|%>

    <%=link_to tag.name,post_search_tag_path(tag) %>

    <%= tag.posts.count %>

  <% end %>

  <h3>タグ：<%=@tag.name%>に関する投稿一覧</h3>

  <p>店名/料理名:</p>

  <div class="row">

    <% @posts.each do |post| %>

      <div class="col-2">
        <!--投稿カード-->
        <div class="mini-post-card text-center d-inline-block">

          <%=link_to post_path(post.id) do %>

            <%= post.store_name.truncate(10) %><br>
            <%= image_tag post.image,size:"150x150" %><br>

          <% end %>

          <i class="fa-regular fa-bookmark"></i>ブックマーク数:<%= post.bookmarks.count %><br>

          <%= post.address.truncate(10) %><br>

          <%= post.description.truncate(15) %>

        </div>

      </div>

    <% end %>

  </div>

</div>
<!--<div class="pagination pagination-sm justify-content-center">-->
<!--       </div>-->