<div class="container">

  <div class="d-inline-block">
    <p id="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>

  <div class="row justify-content-center">

    <!--エラーコメント-->
    <%= render "layouts/errors", obj: @post %>

    <div class="col-12-fluid text-center">

      <div class="post-card">

        <!--ユーザー情報-->
        <div class="user-icon pl-2 pt-2 d-flex justify-content-start align-items-center">

          <%=link_to user_path(@user) do %>
            <%= image_tag @user.get_profile_image, class:"rounded-circle", size:"60x60" %>

            <%= @user.name %><br>
          <% end %>
        </div>

        <!--投稿編集・削除ボタン-->
        <% if current_user?(@post.user) %>

          <button type="button" class="btn btn-primary mt-3 mb-3" data-toggle="modal" data-target="#exampleModal">
           投稿編集
          </button>


          <%= render 'member/posts/form', post: @post %>

          &emsp;<%= link_to "投稿削除",post_path, method: :delete, class:"btn btn-danger mt-3 mb-3",
          data: { confirm: "店名/料理名：#{@post.store_name}の投稿を削除しますか？"}%>

        <% end %><br>

        <!--投稿内容-->
        <h3><%= @post.store_name %></h3>

        <% if current_user?(@post.user) %>
          <h4><%= @post.is_published ? "『投稿公開中』" : "『投稿非公開中』" %></h4>
        <% end %>

        <%= image_tag @post.image, size:"300x300" %><br>


        <div class="d-inline-block" id="bookmark_button_<%= @post.id %>">
          <%= render "member/bookmarks/bookmark_btn", post: @post %>
        </div>


         <div class="d-inline-block" id="post_comments_count">
          <%= render 'member/post_comments/count', post: @post %>
        </div><br>

        <% @post_tags.each do |tag| %>

           <i class="fas fa-tag"><%= link_to tag.name,post_search_tag_path(tag)%></i>(総タグ数：<%= tag.posts.count %>)

        <% end %><br>

         <!--５段階評価-->
        <%= render "member/posts/static_rate", post: @post %>

        <%= @post.address %><br>

        <%= @post.description %><br>

      </div>

    </div>

    <!--コメント-->
    <div class="col-12 text-center">

       <div id="post_comments_index">
         <%= render "member/post_comments/post_comment", post: @post, post_comment: @post_comment %>
       </div>

    </div>


  </div>

</div>

