<div class="container">

  <div class="row">

    <div class="col text-center">
      <div class="d-inline-block">
        <%= render "layouts/error_messages", obj: @post_comment %>


        <p id="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>

      <%=link_to user_path(@user) do %>
        <%= image_tag @user.get_profile_image %>

        <%= @user.name %>
      <% end %>

      <% if @post.user == current_user %>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
         投稿編集
        </button>


        <%= render 'member/posts/form', post: @post %>

      <% end %><br>

      <%= image_tag @post.image, size:"300x300" %><br>

      <div class="d-inline-block" id="bookmark_button_<%= @post.id %>">
        <%= render "member/bookmarks/bookmark_btn", post: @post %>
      </div>

       <div class="d-inline-block" id="post_comments_count">
        <%= render 'member/post_comments/count', post: @post %>
      </div><br>


      <%= @post.store_name %><br>

      <%= @post.address %><br>

      <%= @post.description %><br>


      <div id="post_comments_index">
        <%= render "member/post_comments/post_comment", post: @post, post_comment: @post_comment %>
      </div>

    </div>

  </div>

</div>

