<div class="container">
  <p id="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="row justify-content-center align-items-center">

    <div class="col-6 text-center">

      <% @posts.each do |post| %>

      <div class="post-card">

        <%= image_tag post.user.get_profile_image %>

        <%=link_to admin_user_path(post.user) do %>
          <%= post.user.name %>
        <% end %><br>

        <%= link_to admin_post_path(post) do%>
          <%= image_tag post.image, size:"300x300" %><br>
        <% end %>

        <p class="post-solid" ></p>

        <div class="icon">
           <i class="fa-regular fa-bookmark"></i>ブックマーク数:<%= post.bookmarks.count%>
           &emsp;<i class="fa-regular fa-comment"></i>コメント数:<%= post.post_comments.count %>
        </div>

        <%= post.store_name.truncate(15) %><br>

        <%= post.address.truncate(15) %><br>

        <%= post.description.truncate(20) %><br>

      </div>

      <% end %>

    </div>

  </div>

</div>
<span id="top-scroll">
  <a href="">
　  <%= image_tag asset_path("top-scroll.png"), turbolinks: false, class: "arrow" %>
　</a>
</span>