<div class="container-fluid">

  <div class="row justify-content-center align-items-center mt-4">

    <div class="col-8 text-center">
     <h2 class="contents-title">検索結果 "<span><%= @search %></span>"</h2>
    </div>

    <div class="col-12">

      <table class="table table-hover table-inverse">
        
        <!--検索でヒットしたのがUserか(User配列か)の確認-->
         <% if @results.all? { |result| result.is_a?(User) } %>

            <tbody>
              <tr>
                <th>ユーザー画像</th>
                <th>名前</th>
              </tr>

              <% @results.each do |result| %>
                <tr>
                  <td>
                    <%=link_to user_path(result.id) do %>
                      <%= image_tag result.get_profile_image, class: "rounded-circle", size: "80x80" %>
                    <% end %>
                  </td>

                  <td>
                    <%=link_to user_path(result.id) do %>
                      <%= result.name %>
                    <% end %>
                  </td>
                </tr>
              <% end %>

            </tbody>
          
          <!--検索でヒットしたのがPostか(Post配列か)の確認-->
          <% elsif @results.all? { |result| result.is_a?(Post) } %>

           <tbody>

              <tr>
                <th>ユーザー画像</th>
                <th>名前</th>
                <th>店名/料理名</th>
                <th>投稿画像</th>
                <th>ブックマーク</th>
              </tr>

              <% @results.each do |result| %>
                <tr>
                  <td><%= image_tag result.user.get_profile_image, class: "rounded-circle", size:"60x60" %></td>

                  <td>
                    <%=link_to user_path(result.user.id) do %>
                      <%= result.user.name %>
                    <% end %>
                  </td>

                  <td>
                    <%=link_to post_path(result.id) do %>
                      <%= result.store_name %>
                    <% end %>
                  </td>

                  <td>
                    <%=link_to post_path(result.id) do %>
                      <%= image_tag result.image, class: "td-image", size: "100x100" %>
                    <% end %>
                  </td>

                  <td>
                    <div id="bookmark_button_<%= result.id %>">
                      <%= render "member/bookmarks/bookmark_btn", post: result %>
                    </div>
                  </td>

                </tr>
              <% end %>

            </tbody>

          <% end %>

      </table>

    </div>

  </div>

</div>
<span id="top-scroll">
  <a href="">
　  <%= image_tag asset_path("top-scroll.png"), turbolinks: false, class: "arrow" %>
　</a>
</span>