<div class="container">

  <div class="row justify-content-center">

    <div class="log_in col-12-fluid">

      <p id="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <h2 class="contents-title d-flex justify-content-start align-items-center">ログイン</h2>

      <%= form_with model: @user,url: user_session_path, local: true do |f| %>
      
        <div class="field">
          <%= f.label :email,"メールアドレス" %><br />
          <%= f.email_field :email, size:"40*20", autofocus: true,placeholder:"sample@example.com", autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password, "パスワード" %><br />
          <%= f.password_field :password, size:"40*20", autocomplete: "current-password" %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "ログイン" %>
        </div>
      <% end %>

      <%= render "member/shared/links" %>
    </div>
  </div>
</div>