<div class="container">

  <div class="row">

    <div class="col text-center">

      <!--ユーザー-->
      <%= link_to admin_user_path do %>
        <%= image_tag @user.get_profile_image %>

        <%= @user.name %><br>
      <% end %>

      <!--投稿内容-->
      <%= link_to "投稿削除",admin_post_path, method: :delete, class:"btn btn-danger mt-3 mb-5 pr-5 pl-5", data: { confirm: "この店名：#{@post.store_name}の投稿を管理者権限で削除しますか?" }%><br>

      <h3><%= @post.store_name %></h3>

      <%= image_tag @post.image, size:"300x300" %><br>

      <div class="icon">
        <i class="fa-regular fa-bookmark"></i>ブックマーク<%= @post.bookmarks.count %>
        &emsp;<i class="fa-regular fa-comment"></i>コメント：<%= @post_comments.count %>
      </div>

      <%= @post.address %><br>

      <%= @post.description %><br>

      <!--投稿コメント-->
      <% @post_comments.each do |post_comment| %>

        <%=link_to admin_user_path(post_comment.user_id) do %>
          <%= image_tag post_comment.user.get_profile_image %>
          <%= post_comment.user.name %>
        <% end %>

        コメント：<%= post_comment.comment %>

        <%=link_to "削除する", admin_post_post_comment_path(@post,post_comment.id), method: :delete, class:"btn btn-danger",data: { confirm: "#{@user.name}のコメントを管理者権限で削除しますか?" } %><br>

      <% end %>
      <p id="notice"><%= notice %></p>

    </div>

  </div>

</div>

