<h1>検索結果 "<span><%= @search %></span>"</h1>

<table class="table table-hover table-inverse">
  <% if @range == "User" %>

    <tbody>
      <tr>
        <th>Image</th>
        <th>Name</th>
      </tr>

      <% @users.each do |user| %>

      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td>
          <%=link_to user_path(user.id) do %>
            <%= user.name %>
          <% end %>
        </td>
      </tr>

      <% end %>
    </tbody>

  <% elsif @range == "Post"%>

   <tbody>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Store_name</th>
        <th>Description</th>
      </tr>

      <% @posts.each do |post| %>

      <tr>
        <td><%= image_tag post.user.get_profile_image, size: '50x50' %></td>
        <td>
          <%=link_to user_path(post.user.id) do %>
            <%= post.user.name %>
          <% end %>
        </td>
        <td>
          <%=link_to post_path(post.id) do %>
            <%= post.store_name %>
            <%= image_tag post.image, size:"100x100" %>

            <div id="bookmark_button_<%= post.id %>">
              <%= render "member/bookmarks/bookmark_btn", post: post %>
            </div>

          <% end %>
        </td>
        <td>
          <%= post.description %>
        </td>
      </tr>

      <% end %>

    </tbody>

  <% end %>

</table>
