<% @users.each do |user| %>

  <%=link_to admin_user_path(user) do %>
    <%= image_tag user.get_profile_image %>

    <%= user.name %>
  <% end %>

  フォロワー<%=  user.followings.count %>人

  フォロー<%=  user.followers.count %>人

  <p>利用ステータス: <%= user.is_active ? '利用中' : '利用停止中' %></p>

<% end %>