<div class="container">

  <div class="row justify-content-center align-items-center">

    <div class="col-12 text-center">
      <h2>全ユーザー 一覧</h2>
    </div>

    <div class="col-12">

      <table class="table">

      <% @users.each do |user| %>

      <tbody>
        <tr>

          <td>
            <%=link_to admin_user_path(user) do %>
              <%= image_tag user.get_profile_image,class:"rounded-circle", size:"80x80" %>
            <% end %>
          </td>

          <td>
            <%=link_to admin_user_path(user) do %>
              <%= user.name %>
            <% end %>
          </td>

          <td>
              <p>フォロワー<%=  user.followings.count %>人</p>
          </td>

          <td>
              <p>フォロー<%=  user.followers.count %>人</p>
          </td>

          <td>
            <p>利用ステータス: <%= user.is_active ? '利用中' : '利用停止中' %></p>
          </td>

        </tr>

      </tbody>

      <% end %>

    </div>

  </div>

</div>
<span id="top-scroll">
  <a href="">
　  <%= image_tag asset_path("top-scroll.png"), turbolinks: false, class: "arrow" %>
　</a>
</span>
