<div class="container">

  <p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col text-center">

      <%= image_tag @user.get_profile_image, class:"rounded-circle", size:"80x80" %>

      <%= @user.name %>

      フォロワー<%=  @user.followers.count %>人

      フォロー<%=  @user.followings.count %>人<br>

      <!--ユーザー利用可否状態の確認-->
      <% if @user.is_active %>
        <%= "「ユーザー利用中」" %><br>
        <%= link_to "ユーザーを利用停止にする", admin_user_deactivate_path(@user), method: :patch,
        class:"btn btn-danger mt-3 mb-3", data: { confirm: "#{@user.name}のアカウントを管理者権限で利用停止にしますか?" } %>
      <% else %>
        <%= "「ユーザー利用停止中」" %><br>
        <%= link_to "ユーザーの利用停止を解除する", admin_user_activate_path(@user), method: :patch,
        class:"btn btn-success mt-3 mb-3", data: { confirm: "アカウント#{@user.name}の利用停止を管理者権限で解除しますか?" } %>

      <% end %><br>

      <h1 class="contents-title d-inline-block mb-4"><%= @user.name %>さんの投稿内容</h1><br>

      <% if @posts.exists? %>

        <% @posts.each do |post| %>

          <%=link_to admin_post_path(post.id) do %>
            <%=image_tag post.image, size:'100x100' %>
          <% end %>

        <% end %>

      <% else %>

        <p>投稿はありません</p>

      <% end %>

    </div>

  </div>

</div>
