<div class="container-fluid">

  <div class="row justify-content-center align-items-center mt-4">

    <div class="col-8">
      <h1><%=@user.name%>フォロワー</h1>
    </div>

    <div class="col-8">

      <% if @users.exists? %>
       <table class="table">

          <thead>

            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>

          </thead>

          <% @users.each do |user| %>

          <tbody>

            <tr>

              <td><%= image_tag user.get_profile_image, class:"rounded-circle", size:"80x80" %></td>

              <td>
                <%=link_to user_path(user.id) do %>
                  <%= user.name %>
                <% end %>
              </td>

              <td>
                  フォロー数：<%= user.followings.count %>人
              </td>

              <td>
                  フォロワー数：<%= user.followers.count %>人
              </td>

            </tr>

          </tbody>

          <% end %>

        </table>
      <% else %>

        <p>ユーザーはいません</p>

      <% end %>
    </div>

  </div>

</div>
