<div class="container-fluid">

 <div class="row justify-content-center align-items-center mt-4">

  <div class="col-12 text-center">

   <h2>全ユーザー 一覧</h2>

  </div>

  <div class="col-12">
    <table class="table">

    <% @users.each do |user| %>

    <tbody>
     <tr>
      <td>
       <%=link_to user_path(user) do %>
        <%= image_tag user.get_profile_image, class:"rounded-circle", size:"60x60" %>
       <% end %>
      </td>

       <td>
       <%=link_to user_path(user) do %>
        <%= user.name %>
       <% end %>
      </td>

      <td>
       フォロワー<%=  user.followings.count %>人
      </td>

      <td>
       フォロー<%=  user.followers.count %>人
      </td>

     </tr>

    </tbody>

    <% end %>

   </table>

  </div>

 </div>

</div>
<!--トップスクロールボタン-->
<span id="top-scroll">
  <a href="">
　  <%= image_tag asset_path("top-scroll.png"), turbolinks: false, class: "arrow" %>
　</a>
</span>