<div class="container-fluid">

  <p id="notice"><%= notice %></p>

  <div class="row">

    <div class="col text-center">

      <%= image_tag @user.get_profile_image, class:"rounded-circle text-black", size:"80x80" %>

      <%= @user.name %>

      <%=link_to followers_user_path(@user.id) do %>
        フォロワー<%=  @user.followers.count %>人
      <% end %>

      <%=link_to followings_user_path(@user.id) do %>
        フォロー<%=  @user.followings.count %>人
      <% end %>

       <% if (@user != current_user) && (current_user.following?(@user)) %>

        <%= link_to user_relationship_path(@user,current_user), method: :delete, class:"btn btn-danger" do %>
          フォローを外す
        <% end %>

      <% elsif @user != current_user %>

        <%=link_to user_relationships_path(@user), method: :post, class:"btn btn-primary" do %>
          フォローする
      　<% end %>

      <% end %><br>

      <% if (@user == current_user) && !(@user.guest_user?)%>

        <%= link_to edit_user_path(@user.id), class: "user-cog btn btn-outline-secondary" do %>
          <i class="fas fa-user-cog fa-2x"></i>
        <% end %>

      <% end %><br>

      <h1 class="contents-title d-inline-block mb-4"><%= @user.name %>さんの投稿/ブックマーク</h1>

       <%= link_to  "#exampleModal", data: { toggle: "modal", target: "#exampleModal" }, class:"modal-user" do %>

        <div class="modal-user text-center d-inline-block">
          <i class="fa-solid fa-circle-plus fa-3x"></i><br>
          <p class="d-sm-none d-inline-block">新規投稿</p>
        </div>

       <% end %><br>
      <!--タブ部分-->
      <div class="wrap">
        <ul id = "tab-menu">
          <li><a href="#tab1" class="active">My_post</a></li>

          <li><a href="#tab2" class="">Bookmark</a></li>

        </ul>
        <!--タブごとのページ遷移先-->
        <div id = "tab-contents">
          <div id = "tab1" class="tab">
            <%= render "member/users/show", posts: @posts %>
          </div>

          <div id = "tab2" class="tab">
            <%= render "member/users/bookmark_posts",bookmarked_posts: @bookmarked_posts %>
          </div>
        </div>

      </div>

      <%= render "member/posts/form", post: @post %>

    </div>

  </div>

</div>
