<p class="pt-5" id="notice"><%= notice %></p>
<div class="container">

  <div class="row">

    <div class="col text-center">

      <%= image_tag @user.get_profile_image %>

      <%= @user.name %>

      <%=link_to followers_user_path(@user.id) do %>
        フォロワー<%=  @user.followers.count %>人
      <% end %>

      <%=link_to followings_user_path(@user.id) do %>
        フォロー<%=  @user.followings.count %>人
      <% end %>

      <% unless @user.guest_user? %>

        <% if @user == current_user %>

          <%= link_to edit_user_path(@user.id), class: "btn btn-outline-secondary btn-block" do %>
            <i class="fas fa-user-cog"></i>
          <% end %>

        <% elsif current_user.following?(@user) %>

          <%= link_to user_relationship_path(@user,current_user), method: :delete, class:"btn btn-danger" do %>
            フォローを外す
          <% end %>

        <% else %>

          <%=link_to user_relationships_path(@user), method: :post, class:"btn btn-primary" do %>
            フォローする
        　<% end %>

        <% end %>

      <% end %>


      <h1><%= @user.name %>さんの投稿内容</h1>
      <!--タブ部分-->
      <div class="wrap">
        <ul id = "tab-menu">
          <li><a href="#tab1" class="active">My_post</a></li>

          <li><a href="#tab2" class="">Favorite</a></li>

        </ul>
        <!--タブごとのページ遷移先-->
        <div id = "tab-contents">

          <div id = "tab1" class="tab">
            <%= render "member/users/show", posts: @posts %>
          </div>

          <div id = "tab2" class="tab">
            <%= render "member/users/favorite_posts",bookmarked_posts: @bookmarked_posts %>
          </div>

        </div>

      </div>

      <% unless @user.guest_user? %>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
         新規投稿
        </button>
      <% end %>

      <%= render "member/posts/form", post: @post %>

      <div class="d-flex justify-content-center">

      </div>
    </div>

  </div>

</div>
