<!DOCTYPE html>
<html>

  <head>
    <title>RestaurantMap</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/<%= ENV['FONT_AWESOME_KEY'] %>.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background: #ffce6d; color: #291b25">

        <div class="container-fluid">
          <a href="/" class="navbar-brand ml-5">fav_resto_map</a>

            <button class="navbar-toggler" type="button"
              data-toggle="collapse"
              data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" style="color: #291b25"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

              <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>

                <li>
                  <%= link_to users_mypage_path, class: 'nav-link' do %>
                    <i class="fa-solid fa-circle-user"></i>
                  <% end %>
                </li>

                <li>
                  <%= link_to posts_path, class: 'nav-link' do %> 投稿一覧<% end %>
                </li>

                <li>
                  <%= link_to user_path(current_user), class: 'nav-link' do %> 投稿内容<% end %>
                </li>

                <li>
                  <%= link_to users_path(current_user), class: 'nav-link' do %> ユーザー一覧<% end %>
                </li>

                <li>
                  <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link' do %> ログアウト<% end %>
                </li>

              <% elsif admin_signed_in? %>

                <li>
                  <%= link_to admin_path, class: 'nav-link' do %> 投稿一覧<% end %>
                </li>

                <li>
                  <%= link_to admin_users_path, class: 'nav-link' do %> ユーザー一覧<% end %>
                </li>

                 <li>
                  <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link' do %> ログアウト<% end %>
                </li>

              <% else %>

                <li>
                  <%= link_to new_user_session_path, method: :get,class: 'nav-link' do %>ログイン<% end %>
                </li>

              <% end %>
              </ul>

              <%= form_with url: searches_search_path, method: :get do |f| %>

                <%= f.text_field :word %>
                <%= f.select :range, options_for_select([["User"]]) %>
                <%= f.select :search, options_for_select([["完全一致","perfect_match"],["部分一致","partial_match"]]) %>
                <%= f.submit "検索" %>

              <% end %>

            </div>

          </div>

        </div>

      </nav>
    </header>

    <main style="min-height:120vh ;position: relative;padding-bottom:50px;box-sizing:border-box;">

      <%= yield %>
    </main>
    <footer>

      <div class="fixed-bottom" style="background: #ffce6d">
        <p class="text-center" style="color: #291b25">fav_resto_map</p>
      </div>

    </footer>

  </body>

</html>
