
<!DOCTYPE html>
<html>

  <head>
    <title>RestaurantMap</title>

    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/<%= ENV['FONT_AWESOME_KEY'] %>.js" crossorigin="anonymous"></script>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if admin_signed_in?%>
        <nav class="navbar navbar-admin navbar-expand-lg navbar-light fixed-top bg-light shadow rounded" >
      <% else %>
        <nav class="navbar navbar-user navbar-expand-lg navbar-light fixed-top bg-light shadow rounded">
      <% end %>
          <div class="container-fluid">
            <a href="/" class="navbar-brand"><%= image_tag('fav_resto_map.png', size: "70x70") %></a>

            <!--ユーザープロフィール-->
            <% if user_signed_in? %>
              <%= link_to user_path(current_user) do %>
                 &emsp;<%= image_tag current_user.get_profile_image, class: "rounded-circle", size: "50x50" %>
                <%= current_user.name %>
              <% end %>
            <% end %>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

              <ul class="navbar-nav ml-auto">
                
                <% if user_signed_in? %>

                  <li data-turbolinks="false" class="nav-item">
                    <%= link_to posts_path, class: 'nav-link mr-5 text-center' do %>
                    <i class="fa-solid fa-house fa-2x"></i><br>
                    <p class="logo-text">投稿一覧</p>
                    <% end %>
                  </li>

                  <li class="nav-item">
                    <%= link_to users_path, class: 'nav-link mr-5 text-center' do %>
                    <i class="fa-solid fa-users fa-2x"></i><br>
                    <p class="logo-text">ユーザー 一覧</p>
                    <% end %>
                  </li>

                  <li class="nav-item">
                    <%= link_to destroy_user_session_path, method: :delete,class: 'nav-link mr-5 text-center' do %>
                    <i class="fa-solid fa-right-from-bracket fa-2x"></i><br>
                    <p class="logo-text">ログアウト</p>
                    <% end %>
                  </li>

                  <li class="nav-item md">
                    <%= link_to users_mypage_path, class: 'nav-link mr-5 text-center' do %>
                      <i class="fa-solid fa-circle-user fa-2x"></i><br>
                      <p class="logo-text-side">マイページ</p>
                    <% end %>
                  </li>

                   <!--各viewから中身を呼び出し-->
                  <% if content_for? :add_content %>
                    <li class="nav-item md">
                      <%= link_to user_path(@user), class: "nav-link mr-5 text-center" do %>
                         <i class="fa-solid fa-house-user fa-2x"></i><br>
                         <p class="logo-text-side">ユーザー<br>投稿</p>
                       <% end %>
                    </li>
                  <% end %>

                <% elsif admin_signed_in? %>

                  <li data-turbolinks="false" class="nav-item">
                    <%= link_to admin_path, class: 'nav-link admin text-light mr-5 text-center' do %>
                    <i class="fa-solid fa-house fa-2x"></i><br>
                    <p class="logo-text">投稿一覧</p>
                    <% end %>
                  </li>

                  <li class="nav-item">
                    <%= link_to admin_users_path, class: 'nav-link admin text-light mr-5 text-center' do %>
                    <i class="fa-solid fa-users fa-2x"></i><br>
                    <p class="logo-text">ユーザー 一覧</p>
                    <% end %>
                  </li>

                   <li class="nav-item">
                    <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link admin text-light mr-5 text-center' do %>
                    <i class="fa-solid fa-right-from-bracket fa-2x"></i><br>
                    <p class="logo-text">ログアウト</p>
                    <% end %>
                  </li>

                <% else %>

                  <li class="nav-item">
                    <%= link_to new_user_session_path, method: :get, class: 'nav-link mr-5 text-center' do %>
                    <i class="fa-solid fa-right-to-bracket fa-2x"></i><br>
                    <p class="logo-text">ログイン</p>
                    <% end %>
                  </li>

                <% end %>

              </ul>

              <% if user_signed_in?  %>

                <%= form_with url: searches_search_path, method: :get, class:"text-right" do |f| %>
                  <%= f.text_field :word %>
                  <%= f.submit "検索" %>
                <% end %>

              <% elsif admin_signed_in? %>

                <%= form_with url: admin_searches_search_path, method: :get, class:"text-right" do |f| %>
                  <%= f.text_field :word %>
                  <%= f.submit "検索" %>
                <% end %>

              <% end %>

            </div>

          </div>

        </nav>

    </header>

    <main>
     <% unless admin_signed_in? %>
        <div class="main-contents row-fluid d-none d-lg-block">

          <div class="side col-md-1 col-lg-1 fixed-top">

            <div class="sidebar-user navbar-light rounded">

              <ul class="nav flex-column text-center">

                <% if user_signed_in? %>
                  <li data-turbolinks="false" class="nav-side-link1">
                    <%= link_to users_mypage_path, class: 'nav-link mt-5 mb-4' do %>
                      <i class="fa-solid fa-circle-user fa-2x"></i><br>
                      <p class="logo-text-side">マイページ</p>
                    <% end %>
                  </li>
                <% end %>

                <!--各viewから中身を呼び出し-->
                <% if content_for? :add_content %>
                  <%= yield :add_content %>
                <% end %>

              </ul>

            </div>

          </div>

        </div>
      <% end %>

      <%= yield %>

    </main>

    <footer></footer>

  </body>

</html>
